/* Common */
body{opacity:0.25;}
body.loaded{opacity:1;}

/* Index */
/*.Section1>div>table>tbody>:first-child>td>:first-child>table>tbody>:nth-child(1), .Section1>div>table>tbody>:first-child>td>:first-child>table>tbody>:nth-child(2), .Section1>div>table>tbody>:first-child>td>:first-child>table>tbody>:nth-child(3), .Section1>div>table>tbody>:first-child>td>:first-child>table>tbody>:nth-child(4){display:none;}*/

/* Result */
body>table>tbody>:first-child>td>table>tbody>:nth-child(1), body>table>tbody>:first-child>td>table>tbody>:nth-child(2){display:none;}

/* 覆盖 Bootstrap 的图片地址 */

/* in ffindex.js */